@charset "UTF-8";

.icon {
    display               : inline-block;
    height                : 1em;
    width                 : 1em;
    mask-size             : contain;
    -webkit-mask-size     : contain;
    mask-repeat           : no-repeat;
    -webkit-mask-repeat   : no-repeat;
    mask-position         : center;
    -webkit-mask-position : center;
    font-size             : 16px;
    background-color      : #000;
}



.icon.logo-icon{
    mask-image         : url('../images/svg-icons/logo.svg');
    -webkit-mask-image : url('../images/svg-icons/logo.svg');
}
