@font-face {
  font-family: Rubik-Regular;
  src: url("../../assets/fonts/static/Rubik-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Rubik-Bold;
  src: url("../../assets/fonts/static/Rubik-Bold.ttf");
  font-weight: 700;
}