// colors
$white: #ffffff;
$black: #000000;
$orange: #FCB500;
$grey: #ADADAD;
// Font sizes
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 36px;
$font-size-48: 48px;
$font-size-50: 50px;
$font-size-60: 60px;
$font-size-70: 70px;
$font-size-80: 80px;
$font-size-95: 95px;
$font-size-110: 110px;
$font-size-120: 120px;
$font-size-144: 144px;
//page withs
$min-width-1500: 1500px;
$max-width-1300: 1300px;
$max-width-1200: 1200px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;

